.common-modal-wrapper {
  @extend %flexRowCenterCenter;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 0;
  z-index: 2000;
  opacity: 0;
  overflow: hidden;
  outline: 0;
  transition: height 0s 0.3s, opacity 0.2s;
  
  .common-modal-content {
	border-radius: 15px;
	overflow: hidden;
	background-color: #ffffff;
	width: 50%;
	height: 0;
	display: inherit;
	flex-direction: column;
	transition: height 0.3s;
	
	.common-modal-header {
	  padding-left: 30px;
	  min-height: 60px;
	  width: 100%;
	  border-bottom: 1px solid rgba(201, 207, 227, 0.52);
	  
	  .modal-header-title {
		font-size: 20px;
		color: black;
		font-weight: 500;
	  }
	  
	  .fa-folder-open {
		@include font(22);
		color: #213991;
	  }
	  
	 	
	  .button-close-modal {
		cursor: pointer;
		width: 60px;
		z-index: 10;
		
		.fa-times {
		  @include font(18);
		  color: #C9CFE3;
		  z-index: 4;
		}
	  }
	  
	  &:hover {
		.fa-times {
		  color: #000000;
		}
	  }
	}
	
	.common-modal-body {
	  display: flex;
	  flex-direction: column;
	  flex: 1 1 auto;
	  font-size: 16px;
	  line-height: 23px;
	  color: #7D7D7D;
	  overflow: auto;
	  
	  .soft-description {
		margin: 10px 0;
		padding: 0 30px;
		width: 100%;
		height: 100%;
		
		background: #FFFFFF;
		
		p {
		  color: black;
		  font-weight: 600;
		  margin-bottom: 5px;
		}
	  }
	 	
	}
	
	.common-modal-footer {
	  border-top: 1px solid rgba(201, 207, 227, 0.52);
	  @extend %flexRowAroundCenter;
	  min-height: 75px;
	  width: 100%;
	  padding: 0 30px;
	  background: #FFFFFF;
	  
	  .btn {
		@extend .my-btn;
	  }
	  
	  .add-new-dir-button {
		@extend %fontStyleRoboto;
		@include indentation(padding, (5, 8), (15, 30));
		@include font(16);
		@include propsSize(height, 28, 38);
		@extend %flexRowCenterCenter;
		white-space: nowrap;
		border-radius: 6px !important;
		cursor: pointer;
		background: #FFFFFF;
		color: #213991;
		box-sizing: border-box;
		border: 1px solid transparent;
		
		.fa-plus {
		  color: #C9CFE3;
		  @include font(20);
		}
		
		&:hover {
		  border-color: #213991;
		}
	  }
	  
	  .button-delete-field__true {
		@extend .btn__dark;
	  }
	  
	  .common-footer-btn__false {
		@extend .btn__light;
	  }
	}
  }
  
  &.active {
	height: 100%;
	opacity: 1;
	z-index: 2050;
	transition: height 0s, opacity 0.2s;
	
	.common-modal-content {
	  height: 70%;
	  transition: height 0.3s
	}
  }
}

